.folder {
  user-select: none;
  width: 80px;
  height: 80px;
  background-color: #0000004b;
  /* 폴더 배경 */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.folder:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.thumbGridForApp {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #222;
}

.thumbGridForApp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbGridForFolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #222;
}

.thumbGridForFolder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label {
  margin-top: 6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  word-break: break-word;
}
