.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.noneIcon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 8px;
}

.iconLabel {
    margin-top: 4px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}